.nav-bar {
    display: flex;
    justify-content: space-around;
}

.carousel {
    display:flex;
    justify-content: space-around;
}

.app-type-container {
    display: flex;
    justify-content: center;
}